@import "./globalVar";

.Footer-contact__link {
  grid-column: 1 / span 3;
  display: flex;
  padding: 0 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  img {
    width: 30px;
    margin-right: 10px;
  }
  .instagram {
    width: 40px;
  }
}

.Footer-social {
  display: none;
  justify-content: center;
  margin-bottom: 10px;
  a{
    padding: 0;
  }
}

.Footer {
  background: $main-white;
}