@import './globalVar';

.Home--services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0;
  justify-items: center;
  h1 {
    font-weight: 900;
  }
  background-color: $second-gray;
}

.Home--services_tittle,
.Home--services_subTittle{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  grid-column: 1 / span 2;
}
