@import './globalVar';

.Home {
  font-size: 20px;
}
.Home-image {
  padding: 60px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 70%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  p {
    padding: 10px 0;
    text-align: center;
  }
}

.Home--CEO {
  background: $main-gray;
  width: 100vw;
  color: $main-white;
  p{
    font-weight: 700;
    padding: 25px 20px 5px;
  }
  h5 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
  }
}
