@import "./globalVar";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  position: relative;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.6);
    border-radius: 50%;
    h2 {
      font-size: 24px;
      color: $main-white;
      margin: 30px 0;
      font-weight: 600;
    }
    .fa {
      display: inline-block;
      height: 35px;
      width: 35px;
      text-align: center;
      line-height: 35px;
      border-radius: 5px;
      font-size: 30px;
      color: $main-black;
      background-color: $main-white;
    }
    opacity: 0;
    transition: all 0.5s ease;
  }
}

.Product--tittle {
  text-transform: capitalize;
  font-weight: 400;
}

.Product--description {
  display: none;
}

.Product:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  color: $main-white;
  .lightbox-img {
    width: calc(100vw - 40px);
    height: auto;
    max-width: 100%;
    max-height: 500px;
    padding: 40px 0;
    animation: lightbImage 0.5s ease;
  }

  .lightbox-content {
    position: relative;
  }

  .lightbox-caption {
    font-size: 18px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -100px;
    display: flex;
    justify-content: space-between;
    span {
      text-align: center;
      font-size: 26px;
    }
  }
  .lightbox-close {
    position: absolute;
    z-index: 101;
    right: 0;
    height: 40px;
    width: 40px;
    top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
  }
}

.lightbox.open {
  display: flex;
}

@keyframes lightbImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
