@import './globalVar';

.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
  }
  position: relative;
  .overlay {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
    border-radius: 50%;
    h2 {
      font-size: 22px;
      color: $main-white;
      margin: 20px 0;
      font-weight: 600;
      text-align: center;
    }
    .fa {
      display: inline-block;
      height: 35px;
      width: 35px;
      text-align: center;
      line-height: 35px;
      border-radius: 5px;
      font-size: 30px;
      color: $main-black;
      background-color: $main-white;
    }
    opacity: 0;
    transition: all 0.5s ease;
  }
}
.hide {
  display: none;
}
.Product--tittle {
  text-transform: capitalize;
  font-weight: 400;
}

.Product--description {
  display: none;
}

.Product:hover .overlay {
  opacity: 1;
  transform: scale(1);
}
